/* App.css */
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-background {
  background: linear-gradient(270deg, #ff9a9e, #fad0c4, #fbc2eb, #a6c1ee, #fbc2eb, #fad0c4, #ff9a9e);
  background-size: 400% 400%;
  animation: moveGradient 15s ease infinite;
}

.navbar {
  padding: 1rem 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .nav-link {
  color: rgb(200, 170, 170) !important; /* Texte blanc pour contraster avec le fond animé */
  font-weight: bold;
}

.nav-link {
  margin-left: 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #fbc2eb !important; /* Changement de couleur au survol */
}

.form-container {
  background-color: rgba(255, 255, 255, 0.9); /* Fond blanc semi-transparent */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}